* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #F1F1F2;
	font-family: 'Roboto Condensed', sans-serif;
	color: #150941;
	width:100%;
    overflow-x:hidden;
}

hr {
	border: 2px solid #150941;
	border-radius: 5px;
}

.section-heading {
	color: #150941;
	font-family: 'Righteous', cursive;
	margin: 10% 10% 5%;
	text-transform: uppercase;
	font-size: 2.5vw;
}

.left-heading {
	margin: 10% 0 5%;
}

.coloured {
	background-color: #8EE3EF;
}

.right-para {
	margin-top: 5%;
	margin-right: 8%;
}

.right-col {
	padding-right: 0;
}

.left-col {
	padding-left: 0;
}

.left-side {
	padding-left: 2.6%;
}

.left-trio {
	padding-left: 1.4%;
}

.section {
	padding-bottom: 2%;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;
	border-top: 0;
	background-color: #254E70;
  }

/*********************************** Titles section **************************************/

#title {
	background-color: #254e70;
	overflow: hidden;
	height: 47.5rem; 
	background-image: url('../images/graduation.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 25%;
	box-shadow:inset 0 0 0 2000px rgba(37, 78, 112, 0.75);
}

.title-heading {
	color: #AEF3E7;
	font-family: 'Righteous', cursive;
	font-size: 60pt;
	margin: 18% 10% 5%;
}

.tagline {
	color: #F1F1F2;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	margin: 0 10% 25%;
}

/************************************** Bio section **************************************/
#bio {
	padding: 15% 0;
	overflow: hidden;
}

.profile-pic {
	height: 290px;
	border-radius: 50%;
	margin: 0% 25%;
}

/************************************** Skills section **************************************/

#skills {
	overflow: hidden;
}

.progress {
	margin: 2% 0;
	margin-left: 10%;
	height: 2rem;
	font-size: 1.5rem;
	font-weight: 700;
}

.progress-bar {
	background-color: #04B2C2;
	text-align: left;
	padding: 0 1%;
}

.pb2 {
	background-color: #013D42;
}

.pb3 {
	background-color: #03838F;
}

.prog-label {
	float: left;
	margin-right: 1%;
}

.skills-chart {
	margin-left: 6.5%;
}

.first-label {
	margin-top: 2%;
}

/************************************** Experience section **************************************/
#experience {
	overflow: hidden;
}

.exp-list {
	margin: 3% 5%;
}

.exp-item {
	margin-bottom: 5%; 
}

.summary {
	font-weight: 700;
	font-size: 1.2rem;
}

.job-title {
	font-weight: 700;
	font-style: italic;
}

.dates {
	font-weight: 300;
	font-size: 0.8rem;
	line-height: 0.5rem;
}

/************************************** Education section **************************************/

/************************************** Projects section **************************************/

.proj-sums {
	margin: 3%;
}

.proj-link {
	color: #150941;
}

.proj-link:hover {
	color: #F1F1F2;
	text-decoration: none;
}

/************************************** Hobbies section **************************************/

.hobby-icon {
	margin: 10% 5% 1% 2%;
	font-size: 3rem;
	color: #A7D7DB;
	background-color: #03838F;
	padding: 1rem 1.5rem;
	border-radius: 30%;
	float: left;
}

.hobby {
	margin: 24% 0 11%;
}

/************************************** References section **************************************/
.testimonials {
	text-align: center;
}

.ref-img {
	border-radius: 50% 50%;
	margin: 5% 0;
}

.ref {
	font-family: 'Spartan', sans-serif;
	font-weight: 700;
}

/************************************** Contact Details section **************************************/
#contact {
	padding: 7% 0;
}

.contact-icon {
	font-size: 3rem;
	float: left;
	margin: 1% 5% 0 0;
}

.picture {
	border-radius: 50%;
	height: 300px;
	width: 300px;
	object-fit: cover;
	object-position: 100% 0;
	margin: 0 25%;
}

.contact-det {
	margin-top: 5%;
	font-weight: 700;
}

.contact-info {
	font-weight: 400;
}

/************************************** Footer section **************************************/
#footer {
	background-color: #3C4445;
	text-align: center;
	padding: 1%;
	color: #F1F1F2;
}

.socials {
	font-size: 2rem;
	color: inherit;
}