* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #F1F1F2;
	font-family: 'Roboto Condensed', sans-serif;
	color: #254e70;
	width:100%;
    overflow-x: hidden;
}

hr {
	border: 2px solid #254e70;
	border-radius: 5px;
}

.section-heading {
	color: #254e70;
	font-family: 'Righteous', cursive;
	margin: 12% 10% 5%;
	text-transform: uppercase;
	font-size: 2.5vw;
}

.left-heading {
	margin: 10% 0 5%;
}

.coloured {
	background-color: #8EE3EF;
}

.right-para {
	margin-top: 5%;
	margin-right: 8%;
}

.right-col {
	padding-right: 0;
}

.left-col {
	padding-left: 0;
}

.left-side {
	padding-left: 2.6%;
}

.section {
	padding-bottom: 2%;
}

.content {
	margin-left: 5%;
	margin-top: 2%;
}

.img-container {
	text-align: center;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;
	border-top: 0;
	background-color: rgba(37, 78, 112, 0.4);	
	-moz-box-shadow: inset 0 2px 4px 0 rgba(255,255,255,0.16);
 	-webkit-box-shadow: inset 0 2px 4px 0 rgba(255,255,255,0.16);
   	box-shadow: inset 0 2px 4px 0 rgba(255,255,255,0.16);
	backdrop-filter: blur(20px);
  }

/*********************************** Titles section **************************************/

#title {
	background-color: #254e70;
	overflow: hidden;
	height: 47.5rem; 
	background-image: url('../images/graduation.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 25%;
	box-shadow:inset 0 0 0 2000px rgba(37, 78, 112, 0.75);
}

.title-heading {
	color: #AEF3E7;
	font-family: 'Righteous', cursive;
	font-size: 60pt;
	margin: 18% 10% 5%;
}

.tagline {
	color: #F1F1F2;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	margin: 0 10% 25%;
}

/************************************** Bio section **************************************/
#bio {
	padding: 12% 0 10%;
	overflow: hidden;
}

.profile-pic {
	width: 25vw;
	border-radius: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.right-para {
	margin-right: 7%;
}

/************************************** Skills section **************************************/

#skills {
	padding-bottom: 5%;
}

.skills-row {
	margin: 3% 3% 3% 2%;
}

.skill-bar {
	background-color: #C33C54 !important;

}

.skill-link {
	border: 1px solid #e1e4e7;
	margin: auto 15px;
	color: #254e70 !important;
}

.skill-link.active {
	background-color: #C33C54 !important;
	border-color: #C33C54;
	color: white !important;
}

.percentage-label, .skill-label {
	line-height: 1.5;
	font-weight: 600;
}

.skill-label {
	color: #254e70;
}

.text-dark {
	color: #37718E !important;
}

.progress-box .progress .progress-value {
    position: absolute;
    top: -30px;
    right: -15px;
    font-size: 13px;
}

.progress-box .progress {
    height: 8px;
    overflow: visible;
}

.progress-box .progress .progress-bar {
    -webkit-animation: animate-positive 3s !important;
    animation: animate-positive 3s !important;
    overflow: visible !important;
    border-radius: 5px;
}

/************************************** Experience section **************************************/
#experience {
	padding-bottom: 5%;
}

.exp-row {
	margin: 1% 3% 0 3%;
}

@media (min-width: 768px) {
	.main-icon {
		margin: 0 auto;
	}
}

.main-icon {
    border: 2px solid #e9ecef;
    height: 40px;
    width: 40px;
    line-height: 0;
    text-align: center;
}

.rounded-pill {
    border-radius: 30px !important;
}

.fea.icon-md-sm {
    height: 24px;
    width: 24px;
	color: #C33C54;
}

.fea {
    stroke-width: 1.6;
}

.timeline-page .timeline-item .date-label-left {
    float: right;
    margin-right: 15px;
	
}

.timeline-page .timeline-item .date-label-left, .timeline-page .timeline-item .duration-right {
    margin-right: 15px;
	background-color: #e9ecef;
}

.timeline-page .timeline-item .event.event-description-left {
    text-align: right;
    margin-right: 15px;
	background-color: #e9ecef;
}

.timeline-page .timeline-item .event {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
	background-color: #e9ecef;
}

.timeline-page .timeline-item .event:hover {
    -webkit-box-shadow: 0 10px 25px rgb(60 72 88 / 15%);
    box-shadow: 0 10px 25px rgb(60 72 88 / 15%);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    border-color: transparent !important;
}

.timeline-page .timeline-item .duration-right {
    float: left;
    margin-left: 15px;
}

.timeline-page .timeline-item .date-label-left:after {
    right: -37px;
}

.timeline-page .timeline-item .duration-right:after {
    left: -37px;
}

.timeline-page .timeline-item .date-label-left:after, .timeline-page .timeline-item .duration-right:after {
    border: 2px solid #C33C54;
    content: "";
    position: absolute;
    top: 12px;
    width: 12px;
    height: 12px;
    z-index: 1;
    background-color: #f8f9fa;
    border-radius: 30px;
}

.shadow {
    -webkit-box-shadow: 0 0 3px rgb(60 72 88 / 15%) !important;
    box-shadow: 0 0 3px rgb(60 72 88 / 15%) !important;
}

.border {
    border: 1px solid #e9ecef !important;
}

.rounded {
    border-radius: 7px !important;
}

.timeline-page:after {
    background-color: #e9ecef !important;
    content: "";
    height: 95%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 2px;
}
/************************************** Education section **************************************/
#education {
	padding-bottom: 5%;
}

/************************************** Projects section **************************************/

.proj-sums {
	margin: 2% 3% 8% 3%;
}

.proj-link {
	color: white;
}

.proj-link:hover {
	color: #e9ecef;
	text-decoration: none;
}

.proj-card {
	position: relative;
	width: 100%;
	border: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 3%;
  }
  
  .proj-img {
	opacity: 1;
	display: block;
	width: 100%;
	transition: .5s ease;
	backface-visibility: hidden;
	border-radius: 5px;
  }

  .proj-card .proj-img {
	max-height: 40vh;
	object-fit: cover;
  }
  
  .overlay {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 53%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
  }
  
  .proj-card:hover .overlay {
	opacity: 1;
  }

  .proj-card:hover .proj-img {
	opacity: 0.3;
  }
  
  .proj-text {
	background-color: #C33C54;
	color: white;
	font-size: 16px;
	padding: 16px 32px;
  }

/************************************** Hobbies section **************************************/

.hobbies-row {
	margin: 2% 3% 6% 3%;
}

.interests-desc .title {
    font-weight: 500;
}

.interests-desc {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.bg-light {
    background-color: #f9fafd !important;
}

.interests-desc .hobbies:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 55px;
    background: #e9ecef;
    z-index: 1;
}

.interests-desc .icon {
    width: 40px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.interests-desc:hover {
	-webkit-box-shadow: 0 10px 25px rgb(60 72 88 / 15%);
    box-shadow: 0 10px 25px rgb(60 72 88 / 15%);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    border-color: transparent !important;
}

/************************************** References section **************************************/
.testimonials {
	text-align: center;
	margin: 2% 0;
}

.ref-img {
	border-radius: 50% 50%;
	margin: 5% 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ref {
	font-family: 'Spartan', sans-serif;
	font-weight: 700;
}

/************************************** Contact Details section **************************************/
#contact {
	padding: 7% 0;
}

.contact-icon {
	font-size: 3rem;
	float: left;
	margin: 1% 5% 0 0;
}

.picture {
	border-radius: 50%;
	border: none;
	height: 18.75rem;
	width: 18.75rem;
	object-fit: cover;
	object-position: 100% 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-det {
	margin-top: 5%;
	font-weight: 700;
}

.contact-info {
	font-weight: 400;
}

.socials {
	font-size: 3rem;
	color: inherit;
	margin: 0 1rem;
}

.socials:hover {
	color: #C33C54;
}

/************************************** Footer section **************************************/
#footer {
	background-color: #3C4445;
	padding: 1%;
	color: #e7e7e7;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}
	
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}
	
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}
	
/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}
	
/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}